<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404</title>
<style>
.error-main{
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
 
}
p{
  font-size: 30px;
  color: #000;
}
a{
  display: block;
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  margin: 20px auto;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
</style>
</head>

<body>
<div class="error-main">
  <p>404页面找不到~~~~~</p>
  <a href="/">返回首页</a>
</div>

</body>

</html>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/ie6orie7.js"></script>
<script type="text/javascript" src="./js/swiper.min.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script>
    //页面单独使用的js      

</script>