body{
    background: url('./imgs/bg3.png') no-repeat fixed center;
    background-size: 100% 100%;
}
.content {
    width: 100%;
    min-width: 1300px;
    position: relative;
}
.imgs-content {
    margin-top: 100px;
    margin-left: 450px;
}
.pig-img {
    width: 118px;
    height: 767px;
    float: left;
}
.img-title {
    margin-left: 30px;
    margin-top: 18px;
    float: left;
    font-size: 48px;
    color: #f39800;
}
@font-face {
    font-family: simhei;
    src: url("../fonts/simhei.ttf");
}
.pig-date {
    font-size: 24px;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 100;
    margin-left: 282px;
    margin-top: 169px;
    font-family: simhei;
}
.pig-date > ul > li {
    margin-bottom: 72px;
}
.pig-thing {
    font-size: 24px;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 101;
    margin-top: 169px;
    margin-left: 558px;
    font-family: simhei; 
}
.pig-thing > ul > li {
    margin-bottom: 72px;
}
@media screen and (max-width: 1400px) {
    .pig-thing {
        margin-left: 374px;
    }
    .pig-date {
        margin-left: 102px;
    }
    .imgs-content {
        margin-left: 270px;
    }
}
