body {
    background-color: #131313;
}

.content {
    overflow: hidden;
    min-width: 1300px;
}
.all-title {
    width: 100%;
    margin: 0 auto;
    margin-top: 6%; 
}
.small-title {
    font-size: 48px;
    color: white;
    font-weight: 600;
    text-align: center;
}
.sub-title {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
.cases {
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2%;
}
.left-case {
    float: left;
    width: 41px;
    height: 74px;
    margin-right: 30px;
    height: 456px;
}
.case {
    float: left; 
    width: 1152px;
    overflow: hidden;
    margin: 0 auto;
    height: 600px;
    position: relative;
}
.case > ul {
    /* position: relative; */
    overflow: hidden;
    height: 600px;
    margin: 0 auto;
    width: 3000px;
}
.right-case {
    float: left;
    width: 41px;
    height: 74px;
    margin-left: 20px;
    height: 456px;
}
.right-case > img {
    margin-top: 350%;
}
.left-case > img {
    margin-top: 350%;
}

.case > ul > li {
    float: left;
    position: relative;
    overflow: hidden;
    width: 570px;
    margin-right: 10px;
}
.banner {
    width: 570px;
    height: 365px;
    background-color: white;
    border-radius: 20px;
}
.banner > img {
    margin-left: 9px;
    margin-top: 9px;
}
.describe {
    overflow: hidden;
    margin-top: 25px;
}
.describe > ul > li {
    margin-top: 15px;
    color: #cfcfcf;
}
.describe-title {
    color: white;
    font-size: 24px;
}
