/* 初始化 */
body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, div, img {margin: 0; padding:0; border:0;}
/* body {background: #ffffff; font-family: 'Source Han Sans CN'; src: url("./static/fonts/SourceHanSansCN-Light.otf");} */
ul, ol {list-style-type: none;}
select, input, img {vertical-align: middle;}
a {text-decoration: none;}

.header {
    width: 100%;
    /* min-width: 1500px; */
    height: 92px;
    background: rgba(0, 0, 0, 0.25);
    position: fixed !important;
    overflow: hidden;
    z-index: 9999;
    top: 0px;
    left: 0px;
}
.header-content {
    width: 100%;
    overflow: hidden;
    height: 92px;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-left: 5%;
    margin-top: 24px;
}
.menus {
    float: left;
    margin-top: 24px;
    height: 92px;
    margin: 0 auto;
    margin-right: 2%;
}
.operate {
    float: right;
    line-height: 1.7;
    margin-top: 24px;
    margin-right: 5%;
}
.menus > li {
    float: left;
    margin-left: 30px;
    height: 92px;
}
.menus > li > a {
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    display: inline-block;
    line-height: 2.6;
    overflow: hidden;
    margin-top: 24px;
}
.menus > li > a:hover {
    border-bottom: 2px #f98000 solid;
    color: #f98000;
}
/* .click-menu {
    border-bottom: 2px #f98000 solid;
    color: #f98000;
} */
.operate > ul {
    float: left;
    margin-right: 30px;
}
.operate > ul > li {
    float: left;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-left: 12px;
    line-height: 2.8;
}
.publish-house {
    background-color: #f69700;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    height: 36px;
    width: 140px;
    text-align: center;
    line-height: 2;
    float: left;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .header { min-width: 1100px;}
    .logo {margin-left: 10px;}
    .menus > li {margin-left: 15px;}
    .operate {margin-right: 10px;}
    .operate > ul {margin-right: 15px;}
}

.popup {
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001;
}
.login{
    position: fixed !important; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 560px;
    height: 420px; 
    z-index: 10002;
}
.login-header {
    overflow: hidden;
    margin-top: 20px;
}
.message-login {
    float: left;
    font-size: 18px;
    color: #f69700; 
    margin-left: 100px;
    line-height: 2;
}
.common-login {
    float: right;
    font-size: 18px;
    color: #777;
    margin-right: 100px;
    line-height: 2;
    /* border-top: 2px #f69700 solid; */
}
.login-content {
    clear: both;
}