{% extends '../base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/advantage.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
{% endblock %}
{% block page_title %}
    <title>托管优势</title>
{% endblock %}
{% block content %}   
    <div class="content">
        <div class="all-title">
            <div class="small-title">
                入驻优势
            </div>
            <div class="sub-title">ENTRY ADVANTAGE</div>
        </div>
        <div class="show-advantage">
            <ul>
                <li class="show-li">
                    <div class="advantage-title">省心</div>
                    <p class="advantage-p">专属客服7*24小时，随时随地在线，即时解决客户繁琐问题，解决房东时间， 做省心房东</p>
                </li>
                <li class="show-li">
                    <div class="advantage-title">省事</div>
                    <p class="advantage-p">优秀民宿配套服务，维修卫生轻松解决，民宿线上店铺入驻，装修，设计，美工一条龙</p>
                </li>
                <li class="show-li">
                    <div class="advantage-title">省时</div>
                    <p class="advantage-p">专属专业运营，迅速拉伸线上流量，快速提升客源；专业服务团队，迅速提升好评率，提高客户转化率</p>
                </li>
                <li class="show-li">
                    <div class="advantage-title">省钱</div>
                    <p class="advantage-p">爱猪管家民宿托管，一天只要6.6元</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block page_script %}
    <script>
        $(function() {
            $('.show-li').hover(function() {
                $(this).children('div').eq(0).css({'color': '#f98000'});
                $(this).children('p').css('color', '#f98000');
                $(this).css({'border-bottom': '5px #f98000 solid', 'border-top': '5px #f98000 solid'});
            });
            $('.show-li').mouseleave(function() {
                $(this).children('div').eq(0).css('color', 'white');
                $(this).children('p').css('color', 'white');
                $(this).css({'border-bottom': 'none', 'border-top': 'none'});
            });
        });
    </script>
{% endblock %}
