{% extends '../base.html' %}
{% block page_title %}
    <title>品牌历史</title>
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/brand-history.css">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="imgs-content">
            <div class="pig-img">
                <img src="/static/imgs/history.png" alt="">
            </div>
            <div class="img-title">大事记</div>
        </div>
        <div class="pig-date">
            <ul>
                <li>2017年06月15日</li>
                <li>2017年08月08日</li>
                <li>2017年10月03日</li>
                <li>2018年08月15日</li>
                <li>2018年11月20日</li>
                <li>2019年03月01日</li>
            </ul>
        </div>
        <div class="pig-thing">
            <ul>
                <li>爱猪管家创始人蔡浩杰与张俊毅提出民宿线上托管理念。</li>
                <li>爱猪管家创始人蔡浩杰与张俊毅初步确定项目，意见达成一致。</li>
                <li>爱猪管家技术总监吴炯辉加入项目。</li>
                <li>平台入驻民宿增致500家，活跃粉丝1000余。</li>
                <li>平台入驻民宿达到2000家，活跃粉丝5000+。</li>
                <li>爱猪管家于广东省广州市白云区正阳大厦正式成立运营中心，运营团队达100余人。</li>
            </ul>
        </div>
    </div>
{% endblock %}
