{% extends '../base.html' %}
{% block page_title %}
    <title>企业新闻</title>
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/corporate-news.css">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="all-title">
            <div class="small-title">
                企业新闻
            </div>
            <div class="sub-title">CORPORATE NEWS</div>
        </div>
        <div class="newses">
            <ul>
                {% for news in news_set %}
                    <li>
                        <div class="news-img">
                            <img src="/{{news.thumb_img}}" alt="">
                        </div>
                        <div class="news-content">
                            <ul>
                                <li>
                                    <span class="news-title">{{ news.news_title }}</span>
                                </li>
                                <li>
                                    <span class="publish-time">{{ news.news_push_date }}</span>
                                </li>
                                <li class="news-part">
                                    {{ news.news_description }}......
                                </li>
                                <li>
                                    <a class="news-detail" href="#">查看更多</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% empty %}
                <li>
                    <div class="news-img">
                        <img src="/static/imgs/news1.png" alt="">
                    </div>
                    <div class="news-content">
                        <ul>
                            <li>
                                <span class="news-title">做强精品民宿 做大民宿经济</span>
                            </li>
                            <li>
                                <span class="publish-time">2018-03-20</span>
                            </li>
                            <li>
                                <p class="news-part">
                                    受乡村农旅产业带动，丽水市民宿经济也呈现水涨船高之势，
                                    对促进农村经济和文化的繁荣发挥了不可替代的作用。但通过
                                    前期调研，市人大代表，云和师傅协会会长陈志伟认为，丽水
                                    市民宿......
                                </p>
                            </li>
                            <li>
                                <a class="news-detail" href="#">查看更多</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="news-img">
                        <img src="/static/imgs/news2.png" alt="">
                    </div>
                    <div class="news-content">
                        <ul>
                            <li>
                                <span class="news-title">来莫干山旅游， 不容错过的民宿攻略</span>
                            </li>
                            <li>
                                <span class="publish-time">2018-11-26</span>
                            </li>
                            <li>
                                <p class="news-part">
                                    莫干山国家AAAA级旅游景区，国家级风景名胜区，国家森林
                                    公园位于浙江省湖州市德清县境内，为天目山之余脉，美丽富饶
                                    的沪，宁，杭金三角的中心，莫干山是中国四大避暑圣地之一，
                                    众多的历史名人......
                                </p>
                            </li>
                            <li>
                                <a class="news-detail" href="#">查看更多</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="news-img">
                        <img src="/static/imgs/news3.png" alt="">
                    </div>
                    <div class="news-content">
                        <ul>
                            <li>
                                <span class="news-title">草坪漓江生态休闲小镇优质民宿资源</span>
                            </li>
                            <li>
                                <span class="publish-time">2018-06-26</span>
                            </li>
                            <li>
                                <p class="news-part">
                                    从美团点评公布的数据了解到，2016年到2018年，中国民宿
                                    行业日均间夜量年增幅都超过200%，预计2019年到2021年，
                                    也依然将维持在100%以上的年增幅......
                                </p>
                            </li>
                            <li>
                                <a class="news-detail" href="#">查看更多</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="news-img">
                        <img src="/static/imgs/news4.png" alt="">
                    </div>
                    <div class="news-content">
                        <ul>
                            <li>
                                <span class="news-title">民宿平台发展线下服务，对房东有多大吸引力？</span>
                            </li>
                            <li>
                                <span class="publish-time">2018-08-08</span>
                            </li>
                            <li>
                                <p class="news-part">
                                    从2017年开始，包括Airbnb、小猪、榛果民宿在内的民宿平
                                    台都不满足于线上的经营而做起了线下服务.平台的想法是美
                                    好的：降低房东经营民宿的门槛，拓宽平台服务网络的边界，
                                    提升民宿在安全......
                                </p>
                            </li>
                            <li>
                                <a class="news-detail" href="#">查看更多</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="friend-url">
            <span>友情链接</span>
            <ul>
                <li><a href="#">一下科技</a></li>
                <li><a href="#">半糖</a></li>
                <li><a href="#">天巡网</a></li>
                <li><a href="#">南京旅游</a></li>
                <li><a href="#">多多驿站</a></li>
                <li><a href="#">天津公交</a></li>
                <li><a href="#">杭州房产网</a></li>
                <li><a href="#">旅游网</a></li>
                <li><a href="#">深圳旅行网</a></li>
                <li><a href="#">驴友</a></li>
                <li><a href="#">国内旅游</a></li>
                <li><a href="#">四川旅游</a></li>
                <li><a href="#">十渡旅游</a></li>
                <li><a href="#">出租车电话</a></li>
                <li><a href="#">上海装修网</a></li>
                <li><a href="#">福厦高铁</a></li>
                <li><a href="#">产权式酒店</a></li>
                <li><a href="#">南京旅游</a></li>
            </ul>
        </div>
        <div class="company-info">
            <div class="mid-left">
                {% comment %} <div class="wechat-img">
                    <p class="wechat-title">微信二维码</p>
                    <img src="/static/imgs/QRcode.png" alt="">
                </div> {% endcomment %}
                <div class="contact">
                    <ul>
                        <li>
                            <div class="contact-name">公司邮箱:</div>
                            <div class="contact-val">{{ company_info.company_email }}</div>
                        </li>
                        {% comment %} <li>
                            <div class="contact-name">全国统一服务热线:</div>
                            <div class="contact-val">4007781899</div>
                        </li> {% endcomment %}
                        <li>
                            <div class="contact-name">座机:</div>
                            <div class="contact-val">{{ company_info.landline }}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mid-right">
                <ul>
                    <li>
                        <span class="mid-right-title">关于我们</span>
                        <ul class="mid-right-content">
                            <li><a href="#">关于爱猪</a></li>
                            <li><a href="#">加入我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="mid-right-title">网站帮助</span>
                        <ul class="mid-right-content">
                            <li><a href="#">帮助中心</a></li>
                            <li><a href="#">网站地图</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="mid-right-title">合作协议</span>
                        <ul class="mid-right-content">
                            <li><a href="#">服务协议</a></li>
                            <li><a href="#">版权声明</a></li>
                            <li><a href="#">隐私保护</a></li>
                            <li><a href="#">免责声明</a></li>
                            <li><a href="#">知识产权声明</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="mid-right-title">常见问题</span>
                        <ul class="mid-right-content">
                            <li><a href="#">房东规则</a></li>
                            <li><a href="#">房客规则</a></li>
                            <li><a href="#">房源上线标准</a></li>
                            <li><a href="#">点评发布规则</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="web-info">
            <ul class="web-info1">
                <li>备案号：{{ company_info.case_number }}</li>
                <li>安全联盟</li>
                <li>{{ company_info.company_name }}</li>
                {% comment %} <li>营业执照号：103613118</li> {% endcomment %}
            </ul>
            {% comment %} <div class="web-info2">
                <span>京公网安备</span>
                <span>18001742</span>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}